button {
  display: inline-block;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 50px;
  
}
.star{
  color: rgb(211, 124, 25);

}

.dis{
  display: inline-block;
}

.active{
 
  
  cursor: pointer;
  color: rgb(218, 182, 24);
}
.disactive {
 

  cursor: pointer;
  color: rgb(97, 94, 94);
  
}
#search_submit  {
 

margin-left: 15px;
}
#filter-select{
  margin-left: 15px;
  }
  input
  {
    margin-left: 15px;
    }
.mysearch{
  margin-bottom: 15px;
  border-style: dotted;
  text-align: center;
}
span{
  font-weight: bold;
}